.DS_STORE
*.log
*.log.*
sync*.sh

uploads/

node_modules

build
dist
coverage

.idea/
.bck/
src/static/assets/
Y
src/index.min.html
src/index-metronic.html
.vscode

README*
README.*
template/
*.md
.history
package-lock.json
yarn.lock
